@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.hero.main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    height: 120px;
    width: 120px;
}
