body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}